$container-back-color: #f7f7f7;
$container-back-color-secondary: #f4f4f4;


$light-gray: #ede9ee;
$light-gray-fa: #e4ebfa;
$light-fosco: #aaaaaa29;
$lable-color: #585858;

$button-color-primary: #f5f5f5;
$button-color-secondary: #cecece;

$border-color: #d6d6d6;

$background: #efefef;
$white: #ffffff;
$hover-color: #e5e9ef;

$boxShadow: #00000042;
$black: #1f1f1f;
$dark_gray: #707070;

$highlight-primary: #ffe4b5;
$highlight-tertiary: #e6e6fa;

$blue-secondary: #313d5c;
$blue-tertiary: #424e72;
$background-color-btn: #4376af;
$octonario: #1a3b67;
$button-text-color: #384465;
$button-text-color-secondary: #364262;
$border-color: #2563a8;
$blue: #157dd6f2;
$blue-a8: #2362a8;
$color-septenary: #2c507e;
$color-octonario: #333f5d;
$color-quintenary: #1075b3;
$head-color-table-primary: #414d6c;

$danger: #ed1b1b;
$contessa: #c76666;
$dark-gray: #606060;
$brown: #9f5b00;
$light-white: #fdf2e5;
$green: #32ba74;
$secondary: #78af49;
$water-green: #18deb8;
$yellow: #ebb154;
$deepest-fig: #444669;
$zambezi: #585858;
$dark-shade-gray: #666;
$disabled: #c3c3c3;
$table-striped-color: #f2eef2;
$table-color: #f3eff3;
$grey_d: #0000000d;
$grey-29: #88888829;
$grey-75: #a0a0a075;
$gray-36: #5c5c5c;
$gray-95: #f2f2f2;
$purple_c2: #4a2a57c2;
$purple_7f: #755c7f;
$purple_5b: #4c275b;
$purple-50: #432250;
$input-purple: #4c275b66;


