<form
  [formGroup]="formLogin"
  class="d-flex flex-column justify-content-center"
  (ngSubmit)="submit()"
>
  <div class="input-holder d-flex flex-column justify-content-center align-items-center">
    <div class="form-group">
      <label for="email" class="mt-4">Insira seu email </label>
      <input
        type="email"
        class="form-control shadow-none"
        formControlName="emailAddress"
        id="email"
        required
        [ngClass]="{
          errorInput:
            formLogin.controls.emailAddress.invalid &&
            (formLogin.controls.emailAddress.dirty ||
              formLogin.controls.emailAddress.touched)
        }"
      />
      <div
        class="session-alert"
        *ngIf="
          formLogin.controls &&
          (formLogin.controls.emailAddress.dirty ||
            formLogin.controls.emailAddress.touched)
        "
        class="session-alert"
      >
        <div
          class="alert-danger"
          *ngIf="formLogin.controls.emailAddress.invalid"
        >
          e-mail obrigatório!
        </div>
      </div>
    </div>
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="!formLogin.valid"
        class="button mt-4"
        id="cursor-pointer"
      >
        <span class="d-flex align-items-center justify-content-center">
          Recuperar
        </span>
      </button>    
  </div>
</form>
