<form [formGroup]="form" class="d-flex flex-column justify-content-center" (ngSubmit)="save()">
  <div class="input-holder d-flex flex-column justify-content-center align-items-center">
    <div class="form-group">
      <label for="newPassword" class="mt-4">Nova Senha</label>
      <div class="Password-container mb-1">
        <input type="password" class="form-control shadow-none" id="newPassword" formControlName="newPassword"
          placeholder="Senha" required [type]="showpass ? 'text' : 'password'" [ngClass]="{
                errorInput:
                  form.controls['newPassword'].invalid &&
                  (form.controls['newPassword'].dirty ||
                    form.controls['newPassword'].touched)
              }" />
        <div class="session-alert" *ngIf="
                form.controls['newPassword'].invalid &&
                (form.controls['newPassword'].dirty ||
                  form.controls['newPassword'].touched)
              " class="session-alert">
          <div class="alert-danger" *ngIf="form.controls['newPassword'].invalid">
            Senha obrigatória!
          </div>
        </div>
        <img class="viewPassword" (click)="showpass = !showpass" [src]="
                !showpass
                  ? 'assets/img/Hide.svg'
                  : 'assets/img/Unhide.svg'
              " alt="" />
      </div>
    </div>
    <div class="validation-box d-flex flex-column my-2 px-2">
      <div *ngFor="let validation of validations" class="d-flex align-items-center text-center my-1">
        <img src="assets/img/sucesso_verde.svg" *ngIf="validator(form.value.newPassword, validation)"
          class="me-3" />
        <img src="assets/img/sucesso_desabilitado.svg" *ngIf="!validator(form.value.newPassword, validation)"
          class="me-3" />
        <p class="m-0 text-left">{{ validation.text }}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmar Senha</label>
      <div class="Password-container mb-1">
        <input type="password" class="form-control shadow-none" id="confirmPassword" formControlName="confirmPassword"
          placeholder="Senha" required [type]="showConfirmpass ? 'text' : 'password'" [ngClass]="{
                errorInput:
                  form.controls['confirmPassword'].invalid &&
                  (form.controls['confirmPassword'].dirty ||
                    form.controls['confirmPassword'].touched)
              }" />
        <div class="session-alert" *ngIf="
                form.controls['confirmPassword'].invalid &&
                (form.controls['confirmPassword'].dirty ||
                  form.controls['confirmPassword'].touched)
              " class="session-alert">
          <div class="alert-danger" *ngIf="form.controls['confirmPassword'].invalid">
            Senha obrigatória!
          </div>
        </div>
        <img class="viewPassword" (click)="showConfirmpass = !showConfirmpass" [src]="
                !showConfirmpass
                  ? 'assets/img/Hide.svg'
                  : 'assets/img/Unhide.svg'
              " alt="" />
      </div>
    </div>

    <div class="button-actions d-flex justify-content-center my-2">
      <button type="submit" class="btn confirm-btn">
        Salvar
      </button>
      <button type="button" [routerLink]="['/login']" class="btn cancel-btn -cancel">
        Cancelar
      </button>
    </div>
  </div>
</form>